.image {
  height: 350px;

  img {
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, all 0.3s ease-in-out;
  }

  &.open {
    img {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
      width: auto;
      height: 500px;
      z-index: 11111;
      margin: 100px auto;
      object-fit: contain;
    }
  }

/*  .desc {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(16px);
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;

    transition: all 0.3s;

    z-portfolio: -1;
  }*/
}

.projects {
  position: relative;
  height: 549px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transition: height 300ms;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #e6eaf0 100%
    );
  }
}
