// Text
@mixin text($size: '16px', $line-height: '24px', $weight: '400') {
  font-size: if(type-of($size) == string, unquote($size), $size);
  line-height: if(
      type-of($line-height) == string,
      unquote($line-height),
      $line-height
  );
  font-weight: if(type-of($weight) == string, unquote($weight), $weight);
}

// H1
@mixin text-h1 {
  @include text('48px', '52px', '800');

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    @include text('36px', '42px', '800');
  }
}

// H2
@mixin text-h2 {
  @include text('36px', '42px', '800');

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    @include text('28px', '34px', '800');
  }
}

// H3
@mixin text-h3 {
  @include text('28px', '34px', '800');

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    @include text('20px', '24px', '800');
  }
}

// H4
@mixin text-h4 {
  @include text('16px', '23px', '800');

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    @include text('14px', '20px', '800');
  }
}

// Lead
@mixin text-lead {
  @include text('20px', '28px');
}

// Body
@mixin text-body {
  @include text('16px', '24px');
}

// Small
@mixin text-small {
  @include text('14px', '20px');
}

// Spacing
// margin/padding; steps; sides;
@mixin spacer($i, $st, $sides, $steps: $steps) {
  @each $sides, $a in $sides {
    #{$st}-#{$sides}: $i * $steps;
  }
}

@mixin spacer-auto($sides) {
  @each $sides, $a in $sides {
    margin-#{$sides}: auto;
  }
}
