// Grid

.wrapper {
  & > * {
    grid-column: span 12;
  }
}

// Col
@each $breakpoints, $b in $breakpoints {
  @for $i from 1 through 12 {
    @media (min-width: $b) {
      .col#{$breakpoints}#{$i} {
        grid-column: span $i;
      }
    }
  }
}

// Grid-row-gap
.grid-row-gap {
  grid-row-gap: 24px;

  @media #{map-get($display-breakpoints, 'xs-and-down')} {
    grid-row-gap: 16px;
  }
}

// Grid-rows-min-content
.grid-rows-min-content {
  grid-auto-rows: min-content;
}
