name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: npm ci

      - name: Build and deploy
        run: |
          npm run generate
          git config --global user.name 'dovlin-m'
          git config --global user.email 'dovlin-m@github.io'
          git checkout --orphan gh-pages
          git --work-tree dist add --all
          git --work-tree dist commit -m 'Deploy to GitHub Pages'
          git push origin HEAD:gh-pages --force
          rm -r dist
